{% extends "FeedApp/base.html" %}
{% load bootstrap4 %}

{% block content %}
<h2>
    <p>New Post:</p>
</h2>

<form action="{% url 'FeedApp:new_post' %}" method='post' enctype='multipart/form-data'>

    {% csrf_token %}
    {% bootstrap_form form %}

    <br><br>
    <button name="submit" class="btn btn-outline-primary">Post</button>

</form>


{% endblock content %}

<!-- •	Enctype = for the uploaded file to be attach to the request properly.  
    It allows our images to be attached to the request, and then we can access it. 
    In views.py, we get POST and FILES, so FILES gets attached to the request because of the enctype in the new_post.html.
 -->